version: "2.0"
services:

  frontend:
    stdin_open: true
    container_name: frontend
    build:
      context: .
      #dockerfile: Dockerfile
    volumes:
      - /app/node_modules
      - .:/var/www/html/
    ports:
      - "3000:3000"  
    networks:
      - app-network

 
#Docker Networks
networks:
  app-network:
    driver: bridge