version: "2.0"
services:

  frontend:
    stdin_open: true
    container_name: frontend
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - /app/node_modules
      - .:/var/www/html/
    networks:
      - app-network

  #Nginx Service
  webserver:
    depends_on:
      - frontend
    build:
      context: ./nginx
      dockerfile: Dockerfile
    container_name: webserver
    restart: unless-stopped
    tty: true
    ports:
      - "80:80"
    networks:
      - app-network

#Docker Networks
networks:
  app-network:
    driver: bridge